RewriteEngine on

# Приведение URL к нижнему регистру
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 [A-Z]
RewriteRule ^(.*)$ /${lc:$1} [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteCond %{REQUEST_URI} !(\.js|\....|\.screen|\.....)$ [NC]
RewriteRule ^(.*)$ /$1/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [NC,L,QSA]